
.btn {
  @apply px-6 py-2 leading-5 text-white transition-colors duration-200 transform bg-primary rounded-md hover:bg-gray-600 focus:outline-none focus:bg-gray-600 w-full
}

.label {
  @apply relative w-full flex flex-col
}

.title {
  @apply text-center font-extralight xl:font-serif text-2xl font-bold mb-3 text-primary
}

.avatar {
  @apply px-1  inline-block  h-10 w-10 rounded-full ring-2 ring-primary
}

.stepper-label {
  @apply absolute top-0 -ml-10 text-center mt-16 w-32 text-xs font-medium uppercase absolute

}

.stepper-icon {
  @apply rounded-full transition duration-500 ease-in-out h-12 w-12 py-3 border-2 pl-3

}

.stepper-line {
  @apply flex-auto border-t-2 transition duration-500 ease-in-out border-primary
}

.span {
  @apply mb-1 text-gray-700

}

.input-container {
  @apply w-full mx-4
}

.input-form {
  @apply rounded-md  pl-12 pr-2 py-2 border-2 border-gray-200 placeholder-gray-300 outline-none focus:ring-primary focus:border-primary font-sans
}

.input-textarea {
  @apply rounded-md  p-2 border-2 border-gray-200 placeholder-gray-300 outline-none focus:ring-primary focus:border-primary font-sans
}

.input-icon {
  @apply absolute bottom-0 left-0 -mb-0.5 transform translate-x-1/2 -translate-y-1/2 text-black  h-6 w-6 text-primary

}

.input-checkbox {
  @apply appearance-none checked:bg-blue-600 checked:border-transparent
}

.select {
  @apply block w-full px-3 py-1.5 text-base font-normal text-gray-700
  bg-white bg-clip-padding bg-no-repeat border border-solid border-gray-300 rounded transition ease-in-out m-0
  focus:text-gray-700 focus:bg-white focus:border-primary focus:outline-none
}

.hint {
  @apply p-2 text-primary text-sm
}

