<ng-http-loader [entryComponent]="customSpinnerComponent" ></ng-http-loader>
<div class="row h-screen w-screen">
    <div class="col-12 lg:col-6 bg-gray-100">
        <nav class="flex items-center title px-4 py-8">
            <img alt="user avatar" class="avatar"
                 src="https://avatars.dicebear.com/api/avataaars/solider.svg"> <span class="px-3">Omir Gibreel</span></nav>
        <div class="  offset-2 col-8">
            <div>
                <div class="flex justify-between items-center my-7 span">
                    <h3 class="font-bold">Snickers</h3>
                    <span>{{f['price'].value  |  currency:f['currency'].value:'symbol':'1.0-2'}}</span>
                </div>
                <img alt="snickers"
                     class="rounded-2xl  w-full h-80"
                     src="https://images.unsplash.com/flagged/photo-1556637640-2c80d3201be8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80">


                <p class="my-4">The tags have the size and product information on the inside of the shoe (behind the tongue). Real Adidas shoes will have tags with different serial numbers for the left and right shoe, but a fake product will have the same serial number. THAT'S THE CATCH.</p>
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-6">
        <div class="p-5">
            <div class="mx-4 p-4">
                <div class="flex items-center">
                    <div class="flex items-center text-primary relative">
                        <div
                                class="  stepper-icon border-primary ">
                            <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M18 9v3m0 0v3m0-3h3m-3 0h-3m-2-5a4 4 0 11-8 0 4 4 0 018 0zM3 20a6 6 0 0112 0v1H3v-1z" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-width="2"/>
                            </svg>
                        </div>
                        <div
                                class=" stepper-label text-primary ">
                            Account
                        </div>
                    </div>
                    <div
                            class=" stepper-line"></div>
                    <div class="flex items-center text-primary relative">
                        <div
                                class=" stepper-icon bg-white border-primary  ">
                            <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-width="2"/>
                            </svg>
                        </div>
                        <div
                                class="  stepper-label text-primary">
                            Shopping
                        </div>
                    </div>
                    <div
                            class=" stepper-line "></div>
                    <div class="flex items-center text-white relative">
                        <div
                                class="  stepper-icon bg-primary border-primary ">
                            <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 17a2 2 0 11-4 0 2 2 0 014 0zM19 17a2 2 0 11-4 0 2 2 0 014 0z"/>
                                <path d="M13 16V6a1 1 0 00-1-1H4a1 1 0 00-1 1v10a1 1 0 001 1h1m8-1a1 1 0 01-1 1H9m4-1V8a1 1 0 011-1h2.586a1 1 0 01.707.293l3.414 3.414a1 1 0 01.293.707V16a1 1 0 01-1 1h-1m-6-1a1 1 0 001 1h1M5 17a2 2 0 104 0m-4 0a2 2 0 114 0m6 0a2 2 0 104 0m-4 0a2 2 0 114 0" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-width="2"/>
                            </svg>
                        </div>
                        <div
                                class="stepper-label text-primary "> Submit Order
                        </div>
                    </div>


                </div>
            </div>
            <div class="mt-8 p-4">

            </div>
        </div>
        <div class="offset-2 col-8">

            <div>
                <h3 class="label"><span class="span title"> Get you Items now</span></h3>

            </div>


            <form  [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm)" class="flex flex-wrap gap-3 w-full p-5">
                <div class="input-container">
                    <label class="label">
                        <span class="span">Card Name</span>
                        <input formControlName="cardName" class="input-form " name="card_number" placeholder="John Doe " type="text"/>
                        <svg class="input-icon" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z" stroke-linecap="round" stroke-linejoin="round"
                                  stroke-width="2"/>
                        </svg>
                    </label>
                    <div class="hint" *ngIf="checkoutForm.get('cardName')!.invalid && (checkoutForm.get('cardName')!.dirty )">

                        <br>
                        Is less than 100 characters long; only special characters allowed is ‘-‘.
                        <br>
                        ex : John Doe
                    </div>
                </div>

                <div class="input-container">
                    <label class="label">
                        <span class="span">Card number</span>
                        <input  formControlName="cardNumber" class="input-form" name="card_number" placeholder="0000 0000 0000"
                                #ccNumber
                                (keyup)="creditCardNumberSpacing()"
                                type="tel"

                        />
                        <svg class="input-icon" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z" stroke-linecap="round" stroke-linejoin="round"
                                  stroke-width="2"/>
                        </svg>
                    </label>
                    <div class="hint" *ngIf="checkoutForm.get('cardNumber')!.invalid && (checkoutForm.get('cardNumber')!.dirty )">

                        <br>
                        Card number is 16 numerical digits.
                        <br>
                        ex : 0000 0000 0000
                    </div>
                </div>

                <div class="input-container">
                    <label class="relative flex-1 flex flex-col">
                        <span class="span">Expire date<small> (MM/YY)</small></span>
                        <input formControlName="ExpiryDate" class="input-form" name="expire_date" placeholder="MM/YY"  type="number" />
                        <svg class="input-icon" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" stroke-linecap="round" stroke-linejoin="round"
                                  stroke-width="2"/>
                        </svg>
                    </label>
                    <div class="hint" *ngIf="checkoutForm.get('ExpiryDate')!.invalid && (checkoutForm.get('ExpiryDate')!.dirty )">

                        <br>
                        Expiration Date is in format of “MM/YY”, where MM
                        <br>
                        ex : 07/22
                    </div>
                </div>

                <div class="input-container">
                    <label class="relative flex-1 flex flex-col">
    <span class="span flex items-center ">
      CVC/CVV

    </span>
                        <input formControlName="cvc" class="input-form" name="card_cvc" placeholder="&bull;&bull;&bull;" type="number"/>
                        <svg class="input-icon" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z" stroke-linecap="round" stroke-linejoin="round"
                                  stroke-width="2"/>
                        </svg>
                    </label>
                    <div class="hint" *ngIf="checkoutForm.get('cvc')!.invalid && (checkoutForm.get('cvc')!.dirty)">

                        <br>
                        Security Code is 3 numerical digits
                        <br>
                        ex : 000
                    </div>
                </div>

                <div class="input-container">
                    <label class="label">
                        <span class="span">Price</span>
                        <input formControlName="price" class="input-form" name="card_number" placeholder="10" type="number"/>
                        <svg class="input-icon" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 7h6m0 10v-3m-3 3h.01M9 17h.01M9 14h.01M12 14h.01M15 11h.01M12 11h.01M9 11h.01M7 21h10a2 2 0 002-2V5a2 2 0 00-2-2H7a2 2 0 00-2 2v14a2 2 0 002 2z" stroke-linecap="round" stroke-linejoin="round"
                                  stroke-width="2"/>
                        </svg>
                    </label>
                    <div class="hint"*ngIf="checkoutForm.get('price')!.invalid && (checkoutForm.get('price')!.dirty )">

                        <br>
                         Should be more than 0.01 and less than 1,000.00
                        <br>
                        12
                    </div>
                </div>


                <div class="input-container">
                    <label class="label">
                        <span class="span">Currency</span>
                        <select (change)="CurrencyChange()" formControlName="currency" class="select">
                            <option>USD</option>
                            <option>OMR</option>
                        </select>
                    </label>
                </div>

                <div class="input-container">
                    <label class="">
                        <input formControlName="saved"  class="" type="checkbox"/>
                        <span class="span"> Save data for next time </span>
                    </label>
                </div>


                <div class="flex label mt-2">
                    <button type="submit" [disabled]="checkoutForm.invalid" class="btn ">

<span class="flex justify-center items-center">
                        <svg *ngIf="submitted" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 animate-spin mx-2 rounded-full  text-teal-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
                        </svg>
                        Place Order {{f['price'].value  |  currency:f['currency'].value:'symbol':'1.0-2'}}
                    </span></button>
                </div>
            </form>

            <div *ngIf="payed" class="input-container">
                <label class="label">
                    <span class="span">Result</span>
                    <textarea class="input-textarea">{{successResponse}}</textarea>
                </label>
            </div>

        </div>
    </div>
</div>